name: CI

on:
  push:
    branches: ["main", "feat/**"]
  pull_request:
    branches: ["main"]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          tools: composer
          extensions: sqlite3, pdo_sqlite

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Prepare env
        run: |
          cp .env.example .env
          echo "APP_ENV=testing" >> .env
          echo "APP_DEBUG=false" >> .env
          echo "CACHE_STORE=array" >> .env
          echo "SESSION_DRIVER=array" >> .env
          echo "QUEUE_CONNECTION=sync" >> .env
          echo "CACHE_PATH=$(pwd)/storage/framework/cache/data" >> .env

          php artisan key:generate

          mkdir -p database
          mkdir -p storage/framework/cache/data storage/framework/sessions storage/framework/views bootstrap/cache

          test -f database/database.sqlite || touch database/database.sqlite


      - name: Migrate
        run: php artisan migrate --force

      - name: Run tests
        run: php artisan test
        
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install frontend dependencies
        run: npm ci

      - name: Build assets (Vite)
        run: npm run build